.container{
  background-color: #ededed;
  max-width: 73.5rem;
  margin: 3rem auto;
  border-radius: 1rem;
  & h1 {
    margin: 1rem 2rem;
  }
  & .img{
    max-width: 10rem;
    background-color: #fff;
    border-radius: .8rem;
    overflow: hidden;
    margin: 0 1.5rem;
    & img{
      width: 100%;
    }
  }
  & .item{
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
  }
}
.noItems{
  // display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.swap{
    border: none;
    background:#17c8f6;
    color: #fff;
    min-width:14.25rem;
    height:2.63rem;
    font-size:18px;
    cursor: pointer;
    border-radius: 2rem;
    margin: 0 2rem 1rem;
}
.needMore{
  background:red;
}
.buttonSmall{
  min-width:2.63rem;

  border-radius: 50%;
}
.coinProduct{
  width: 1.7rem;
  transform: translate(0,.36rem);
}
.coinTotal{
  transform: translate(0.4rem,.5rem);
}